<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
>

  <!-- The upgrade GUID ** DO NOT CHANGE!! ??**-->
  <?define ProductUpgradeCode="62ba8fcd-691a-4a07-ad0e-bfa10e219e23"?>
  <!-- The product version. -->
  <?define InstallVersion="1.0.0.0"?>
  <!-- The product name as it's used numerous places. -->
  <?define BaseProductNameUI="Telemonitoreo.Installer"?>

	<Product Id="*" 
           Name="$(var.BaseProductNameUI)" 
           Language="1033" 
           Version="$(var.InstallVersion)" 
           Manufacturer="PARSALUD" 
           UpgradeCode="62ba8fcd-691a-4a07-ad0e-bfa10e219e23">
		<Package Description="Instalador para la aplicacion Telemonitoreo"
          Manufacturer="PARSALUD" 
          InstallerVersion="200" 
          Compressed="yes" 
          InstallPrivileges="elevated"          
          InstallScope="perMachine" />

		<MajorUpgrade 
        DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <Media Id="1" Cabinet="Telemonitoreo.cab" EmbedCab="yes"/>

    <?include Properties.wxi?>
    
		<Feature Id="ProductFeature" Title="Telemonitoreo.Installer" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="Telemonitoreo.Installer" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
			<!-- <Component Id="ProductComponent"> -->
				<!-- TODO: Insert files, registry keys, and other resources here. -->
			<!-- </Component> -->
		</ComponentGroup>
	</Fragment>

  <!-- .NET 4.0 prerequisite -->
  <PropertyRef Id="NETFRAMEWORK40FULL"/>
  <Condition Message="This application requires .NET Framework 4.0">Installed OR NETFRAMEWORK40FULL</Condition>

  <AdvertiseExecuteSequence>
    <PublishProduct Suppress="yes"/>
  </AdvertiseExecuteSequence>
  
</Wix>