@{
    ViewBag.Title = "Inicio";
}

<div class="row">
    <div class="col-md-10 text-justify">
        <hr />
        <p>
            El proyecto para el “Desarrollo de aplicación informática para el monitoreo a distancia de gestantes con  preeclampsia leve” se encargara de la implementación
            de una aplicación informática de gestión asistencial basada en web y mensajes de texto (SMS) que permita brindar el soporte a las prestaciones de servicios de
            salud bajo la modalidad de telemonitoreo sobre el estado de salud de gestantes con preeclampsia leve. La finalidad de este desarrollo es: permitir acompañar a
            las gestantes  que presenten cuadros de preeclampsia leve, promoviendo el automonitoreo de la presión arterial, proteinuria y movimientos fetales, complementándose
            además con acciones de educación en cuidados en el embarazo, identificación de signos y síntomas de alarma, recordatorios de citas e ingesta de medicamentos y
            notificación de emergencia al personal encargado del cuidado de la gestante; fortaleciendo de esta manera el vínculo de las gestantes a los servicios de salud
            y la sensación de “acompañamiento” durante el embarazo.
        </p>
        <p>
            Este proyecto se implementara en coordinación con la dirección del Hospital de Apoyo N° 02 de Yarinacocha en Ucayali y la Dirección Regional de Salud de Ucayali,
            en busca de incorporar el uso de tecnologías y comunicación para el monitoreo de gestantes que presenten cuadros de preeclampsia leve, permitiendo mejorar el
            desarrollo de las actividades que se realizan, que incluyen: capacitación al personal de salud (médicos y enfermeras), discusión de casos clínicos y consultas
            de segunda opinión para la resolución de casos clínicos.
        </p>
    </div>
</div>